<p id="notice"><%= notice %></p>

<h1>Personal Whish Lists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_whish_lists.each do |personal_whish_list| %>
      <tr>
        <td><%= link_to 'Show', personal_whish_list %></td>
        <td><%= link_to 'Edit', edit_personal_whish_list_path(personal_whish_list) %></td>
        <td><%= link_to 'Destroy', personal_whish_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal Whish List', new_personal_whish_list_path %>
